.svg-red {
	fill: #db1f26;
}

.svg-shield {
	width: 21px;
	height: 24px;
}

.svg-push-pin {
	width: 23px;
	height: 22px;
}

.svg-like {
	width: 20px;
	height: 18px;
}

.svg-gift {
	width: 15px;
	height: 19px;
}